.citation {
    color: var(--color1);
    width: 60%;
    margin: 0 auto;
    padding: 1rem 0;
}
p.citation {
    font-size: calc(1.5rem + 0.5vw);
}
img.arbreimg {
    width: 50%;
    border-radius: 100%;
}
.remerciment {
    margin-top: 3rem;
}