.container-contact-map {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
.form-contact {
    width: 70%;
    max-width: 500px;
    min-width: 275px;
    margin: 2rem auto 10rem;
}
.form-contact h2 {
    font-size: calc(1.5rem + 0.9vw);
    color: var(--color1);
    margin: 1rem auto 2rem;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(1.5rem + 0.5vw);

}
.form-contact h3{
    font-size: calc(1.5rem + 0.7vw);
    color: var(--color1);
    margin: 3.5rem 0 2rem;
    width: 80%;
    margin: 0 auto 2rem;
}
.form-contact label,
.form-contact button {
    margin-top: 1.5rem;
}
.form-contact input,
.form-contact textarea,
.form-contact button {
    font-size: calc(1rem + 0.5vw);
    color: var(--color1);
    padding: 0.5rem;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 2%;
}
.form-contact textarea {
    min-height: 150px;
    margin-bottom: 1rem;
}

/* ----------------Google Map--------------- */

.Gmap {
   display: block;
   border: 3px solid var(--color1);
   width: 366px;
   height: 366px;
   margin: 0 auto 2rem;
}

